#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp UP_ARROW  &kp ENTER  &kp F17
&kp LEFT    &kp DOWN      &kp RIGHT  &kp F18
&kp F18     &kp F19       &kp F20    &kp L
&kp F21     &kp F22       &kp F23    &kp S
            >;
        };
    };
};
