#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp F17  &kp ENTER  &kp UP_ARROW  &kp ESCAPE
&kp F16  &kp RIGHT  &kp DOWN      &kp LEFT
&kp L    &kp F20    &kp F19       &kp F18
&kp S    &kp F23    &kp F22       &kp F21
            >;
        };
    };
};
